<div class="page-container">
  <section class="filtering-options">

  </section>
  <section class="cards-map-container">
    <div class="cards-container">

    </div>
    <div class="map-container">

    </div>
  </div>
</section>
