<div class="page-container">
  <section class="filtering-options">

  </section>
  <section class="cards-map-container">
    <div class="cards-container">
      <% @vehicules.each do |vehicule| %>
       <%= render 'shared/card', vehicule:vehicule %>
      <% end %>
    </div>
    <div class="map-container">

    </div>
  </div>
</section>
