<h1>SHOW PAGE OF THE VEHICULE</h1>
<% @vehicule.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= @vehicule.brand %>
<%= @vehicule.price %>
<%= link_to "Book car", new_vehicule_requested_booking_path(@vehicule.id)  %>
