<div class="cards">
  <div class="card-images">
    <% vehicule.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height:200, width: 300 %>
    <% end %>
  </div>
  <div class="card-description">
    <%= vehicule.brand %>
    <%= vehicule.price %>
  </div>
</div>
