<section class="banner">
  <div class="banner-text">
    <p class="punchline">
        Enjoy the ride.
    </p>
    <p class="secondary-punchline">
      Rent from locals and go for the adventure.
    </p>
  </div>
</section>
