  <section class="landing-header">
    <hr class="left-line"></hr>
    <p class="logo" id="logo">drivss</p>
    <hr class="right-line"></hr>
  </section>
<script>
  const landingHeaderAnimation2 = () => {
  const logoHeader = document.querySelector(".landing-header");
  const logo = document.querySelector('.logo');
  const hrLeft = document.querySelector('.left-line');
  const hrRight = document.querySelector('.right-line');
    window.addEventListener("scroll",(e)=> {
      if (window.pageYOffset >= 25) {
        logoHeader.style.backgroundColor = "white";
        logo.style.color = "#6D326D";
        logoHeader.style.boxShadow = "0 0 15px rgba(0,0,0,0.2)";
        hrLeft.style.backgroundColor ="#6D326D";
        hrRight.style.backgroundColor ="#6D326D";
      } else if (window.pageYOffset < 25) {
        logoHeader.style.backgroundColor = "transparent";
        logo.style.color="white";
        logoHeader.style.boxShadow = "0 0 0 rgba(0,0,0,0)";
        hrLeft.style.backgroundColor ="white";
        hrRight.style.backgroundColor ="white";
      }
    });
};
landingHeaderAnimation2();
</script>

