<section class="sec-one">
  <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_FizrwJ.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  <div class="sec-one-text-wrapper">
    <p class="sec-one-text">
      Your new way of renting.
    </p>
  </div>

</section>
