<section class="sec-one">
  <p class="sec-one-text">
    Your new way to rent.
  </p>
  <div class="three-div-wrapper">
    <div class="square">
      <p three-divs-titles>Powered by locals</p>
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_K474ba.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div class="square">
      <p three-divs-titles>No paperwork</p>
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_FizrwJ.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div class="square">
      <p three-divs-titles>Whatever you need</p>
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_QPewua.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
  </div>
</section>
