<section class="sec-three">
  <div class="sec-three-text">
    <h1 class="sec-three-title">Own a car? Put it to work for you!</h1>
    <p class="sec-three-description">
      It’s a fact: The typical car is parked 95 percent of the time.<br>
      <span>Earn up to €800 per month by sharing your car with Drivss.</span>
    </p>
    <div class="list-car-btn btn-second">
      <%= link_to "List your car", new_vehicule_path %>
    </div>
  </div>
  <div class="sec-three-animation-wrapper">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_CbDIkR.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </div>
</section>
<section class="landing-page-footer">
  <p class="footer-text">Made with ❤️ by DavidHAzagury</p>
</section>
