.banner {
  height: auto;
  width:100%;
  background-color: #F1F1F1;
  text-align: center;
  height: auto;
  .banner-text {
    width: 100%;
    .punchline {
      font-family: 'Roboto', sans-serif;
      font-size: 150px;
      font-weight: 900;
    }
    .secondary-punchline {
      font-family: 'Roboto', sans-serif;
      font-size: 45px;
      font-weight:300;
    }
  }
}
