.landing-header {
  width:100%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  hr {
    border: none;
    height: 0.1px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    width: 34%;
  }

}

.logo {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: white;
}
.img-container {
  background-image: url('bg-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:88vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
